<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container aos-init" data-aos="fade-up">
    <div class="section-header">
      <div>
        <p>Galerie Beauté </p>
        <h2>Galerie</h2>
        <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="portfolio-isotope aos-init" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up">
      <div>
        <ul class="portfolio-flters">
          <li data-filter="*" class="filter-active">Tous</li>
          <li data-filter=".eyelashes-pics">Extensions de cils</li>
          <li data-filter=".hair-service-pics">Soins capillaires</li>
          <li data-filter=".nails-pics">Ongles</li>
          <li data-filter=".Makeup-pics">Maquillage</li>
          <li data-filter=".skin-care-pics">Soin de la peau</li>
        </ul><!-- End Portfolio Filters -->
      </div>
      <div class="row gy-4 portfolio-container" style="position: relative; height: 491.876px;">
        <div class="col-xl-4 col-md-6 portfolio-item eyelashes-pics skin-care-pics" style="position: absolute; left: 0px; top: 0px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/../assets/images/product-1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="../assets/../assets/images/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
            </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item hair-service-pics skin-care-pics" style="position: absolute; left: 380px; top: 0px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/../assets/images/product-2.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                  <div class="project-btn"><a href="../assets/../assets/images/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item nails-pics" style="position: absolute; left: 760px; top: 0px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/../assets/images/product-3.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="../assets/../assets/images/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item Makeup-pics" style="position: absolute; left: 0px; top: 245.938px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/../assets/images/product-4.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="../assets/../assets/images/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item eyelashes-pics" style="position: absolute; left: 380px; top: 245.938px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/../assets/images/product-5.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="../assets/../assets/images/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item Makeup-pics" style="position: absolute; left: 760px; top: 245.938px;">
          <div class="portfolio-wrap aos-init" data-aos="fade-up">
            <a href="../assets/../assets/images/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="../assets/images/product-6.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="../assets/images/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox fill-btn">Voir en grand</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->
      </div><!-- End Portfolio Container -->
    </div>
  </div>
</section><!-- End Portfolio Section -->
