<!-- Start Contact Section -->
<section id="contact" class="contact-section section bg-grey">
  <div class="container">
    <div class="section-header">
      <div>
        <p>Contactez-nous 24h/24</p>
        <h2>Contact</h2>
        <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 aos-init" data-aos="fade-left">
        <div class="contact-form-box contact-form contact-form-3">
          <div class="form-container-box">
            <form class="contact-form form" id="ajax-contact" method="post" action="https://zrtechsolutions.com/demo/html/kasalon/assets/phpscripts/contact.php" novalidate="true">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-input-box">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Nom*" required="required" data-error="Le nom est requis.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-input-box">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email*" required="required" data-error="Un email valide est requis.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-input-box">
                      <input type="text" class="form-control" name="subject" placeholder="Sujet" required="required">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group form-input-box">
                      <textarea class="form-control" id="message" name="message" rows="9" placeholder="Écrivez votre message*" required="required" data-error="Veuillez laisser un message."></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" data-text="Envoyer le message" class="btn-get-started aos-init aos-animate disabled">Envoyer le message</button>
                  </div>
                  <div class="messages">
                    <div class="alert alert alert-success alert-dismissable alert-dismissable hidden" id="msgSubmit"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> Merci ! Votre message a été envoyé. </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 aos-init" data-aos="fade-right">
        <div class="contact-information-box-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Adresse :</h6>
                  <p>Agbalépédogan</p>
                  <p>Lomé, Togo</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Téléphone :</h6>
                  <p>+228 90 64 63 13</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Email :</h6>
                  <p>onpointmakeupgmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
