<!-- About Us Section -->
<section id="whyus" class="about">
  <div class="container">

    <div class="section-header">
      <div>
        <p>Notre Histoire</p>
        <h2>À Propos</h2>
        <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="content ps-0 aos-init" data-aos="fade-right">
          <p>
            On Point est un salon et une boutique de maquillage basé à Lomé, dédié à sublimer votre beauté avec des services professionnels : maquillage, soin du visage, extensions de cils, microblading, onglerie, et bien plus encore. Nous proposons également une sélection de produits de maquillage de qualité.
          </p>
          <p>
            Que ce soit pour un événement spécial ou pour votre routine beauté, notre équipe vous accueille avec passion et expertise dans un cadre chaleureux et élégant. Faites de votre beauté une priorité avec On Point.
          </p>
            <ul>
              <li><i class="bi bi-chevron-double-right"></i>Soins personnalisés</li>
              <li><i class="bi bi-chevron-double-right"></i> Ambiance relaxante</li>
              <li><i class="bi bi-chevron-double-right"></i> Produits haut de gamme</li>
              <li><i class="bi bi-chevron-double-right"></i> Services à la pointe des tendances</li>
              <li><i class="bi bi-chevron-double-right"></i> Hygiène irréprochable</li>
              <li><i class="bi bi-chevron-double-right"></i> Service client exceptionnel</li>
              <li><i class="bi bi-chevron-double-right"></i>Prestations variées</li>
            </ul>
          <div class="d-flex">
            <a href="https://wa.me/22890646313" class="btn-get-started aos-init" data-aos="fade-up">Prendre Rendez-vous</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 position-relative ps-lg-5 aos-init" data-aos="fade-left">
        <img src="../assets/images/features.png" class="img-fluid mb-4" alt="">
        <div class="img-overlay-right aos-init" data-aos="fade-up"><h3><span>5</span>Ans d’Expérience </h3></div>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
