<!-- Recent Blog Posts Section -->
<section id="recent-posts" class="recent-posts">
  <div class="container aos-init" data-aos="fade-up">
    <div class="section-header">
      <div>
        <p>Derniers articles</p>
        <h2>Blogs</h2>
        <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col-lg-4">
        <article>
          <div class="post-img">
            <img src="../assets/images/blog-1.jpg" alt="" class="img-fluid">
          </div>
          <p class="post-category">Coloration</p>
          <h2 class="title">
            <a href="">Choisir des couleurs de cheveux qui s’harmonisent avec votre teint</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-01-01">1er février 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

      <div class="col-lg-4">
        <article>
          <div class="post-img">
            <img src="../assets/images/blog-2.jpg" alt="" class="img-fluid">
          </div>
          <p class="post-category">Maquillage</p>
          <h2 class="title">
            <a href="">Conseils de maquillage minimaliste pour un éclat naturel</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-01-01">5 octobre 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

      <div class="col-lg-4">
        <article>
          <div class="post-img">
            <img src="../assets/images/blog-3.jpg" alt="" class="img-fluid">
          </div>
          <p class="post-category">Coiffure</p>
          <h2 class="title">
            <a href="">Astuces pour réussir une transformation capillaire</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-01-01">22 décembre 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

    </div><!-- End recent posts list -->

  </div>
</section><!-- End Recent Blog Posts Section -->
