<!-- Packages -->
<section id="packages" class="service-package bg-grey section-padding">
  <div class="container">
    <div class="section-header">
      <div>
        <p>Forfaits de service</p>
        <h2>Tarification</h2>
        <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="row">
      <!-- forfait de service -->
      <div class="col-lg-3 col-md-6 col-sm-12 aos-init" data-aos="fade-up">
        <div class="service-package-info-box">
          <h4 class="service-package-details">
            <a
              class="service-package-title"
              href="https://zrtechsolutions.com/demo/html/kasalon/#"
              >Traitements Capillaires</a
            >
          </h4>
          <div class="service-package-description">
            <p>Masque de Réparation MOREMO</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">300 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Gommage Cuir Chevelu</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">120 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Masque Kevin Murphy</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">120 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement NASHI FILLER</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">500 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Capillaire FIBER CLINIX</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">210 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Nano Cheveux</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">150 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitements Racines Amazon</p>
            <div class="bottom">
              <p>30min</p>
              <div class="main-price">300 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Olaplex</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">180 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Protéine Amazon</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">500 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Capillaire | L'Oreal</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">75 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Traitement Capillaire | Kerastase</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">150 000 FCFA</div>
            </div>
          </div>
        </div>
      </div>
      <!-- forfait de service -->

      <!-- forfait de service -->
      <div class="col-lg-3 col-md-6 col-sm-12 aos-init" data-aos="fade-up">
        <div class="service-package-info-box">
          <h4 class="service-package-details">
            <a
              class="service-package-title"
              href="https://zrtechsolutions.com/demo/html/kasalon/#"
              >Manucure et Pédicure</a
            >
          </h4>
          <div class="service-package-description">
            <p>Élimination des Callosités</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">30 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Changement de Vernis Gel French</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">72 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Overlay Ongles</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">138 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Manucure &amp; Pédicure Classique</p>
            <div class="bottom">
              <p>2h</p>
              <div class="main-price">114 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Manucure Essentielle</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">54 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Pédicure Essentielle</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">60 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Manucure French</p>
            <div class="bottom">
              <p>45min</p>
              <div class="main-price">60 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Pédicure French</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">72 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Manucure Gel</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">90 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Pédicure Gel</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">96 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Manucure Gel French</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">96 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Pédicure Gel French</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">96 000 FCFA</div>
            </div>
          </div>
        </div>
      </div>
      <!-- forfait de service -->

      <!-- forfait de service -->
      <div class="col-lg-3 col-md-6 col-sm-12 aos-init" data-aos="fade-up">
        <div class="service-package-info-box">
          <h4 class="service-package-details">
            <a
              class="service-package-title"
              href="https://zrtechsolutions.com/demo/html/kasalon/#"
              >Extensions de Cils</a
            >
          </h4>
          <div class="service-package-description">
            <p>Cils Volume 2D</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">240 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Dépose de Cils</p>
            <div class="bottom">
              <p>30min</p>
              <div class="main-price">60 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Extension de Cils 5D - 6D</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">360 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Remplissage Cils 3D - 4D</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">120 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Remplissage Cils 2D</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">120 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Nouveau Set d’Extensions de Cils</p>
            <div class="bottom">
              <p>2h</p>
              <div class="main-price">210 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Rehaussement de Cils</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">150 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Faux Cils</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">90 000 FCFA</div>
            </div>
          </div>
          <div class="service-package-description">
            <p>Extension de Cils 3D/4D</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">240 000 FCFA</div>
            </div>
          </div>
        </div>
        <!-- <div class="service-package-info-box">
          <h4 class="service-package-details">
            <a
              class="service-package-title"
              href="https://zrtechsolutions.com/demo/html/kasalon/#"
              >Massage Corporel</a
            >
          </h4>
          <div class="service-package-description">
            <p>Massage Corps Complet</p>
            <div class="bottom">
              <p>2h</p>
              <div class="main-price">600 000 FCFA</div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- forfait de service -->

      <!-- forfait de service -->
      <div class="col-lg-3 col-md-6 col-sm-12 aos-init" data-aos="fade-up">
        <div class="service-package-info-box">
          <h4 class="service-package-details">
            <a
              class="service-package-title"
              href="https://zrtechsolutions.com/demo/html/kasalon/#"
              >Maquillage Permanent</a
            >
          </h4>

          <div class="service-package-description">
            <p>Lamination des Sourcils</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">150 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Retouche Eyeliner Shading</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">360 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Ombres d’Eyeliner</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">900 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Ombres d’Eyeliner Haut et Bas</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">1 500 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Détatouage</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">480 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Retouche Ombres des Lèvres</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">480 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Correction des Lèvres Foncées</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">1 200 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Ombres des Lèvres</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">900 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Retouche Microblading Sourcils</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">360 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Nouveau Set Microblading Sourcils</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">900 000 FCFA</div>
            </div>
          </div>

          <div class="service-package-description">
            <p>Consultations</p>
            <div class="bottom">
              <p>1h</p>
              <div class="main-price">Gratuit</div>
            </div>
          </div>
        </div>
      </div>
      <!-- forfait de service -->
    </div>
  </div>
</section>
<!-- Packages -->
