<header id="header" class="header d-flex align-items-center sticked stikcy-menu">
  <div class="container container-xl d-flex align-items-center justify-content-between">
    <a routerLink="" class="logo d-flex align-items-center">
      <h1 class="logo">On Point.</h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="about">A propos</a></li>
        <li><a routerLink="service">Nos Services</a></li>
        <li><a routerLink="pack">Nos Packs</a></li>
        <li><a routerLink="portfolio">Galerie</a></li>
        <!-- <li><a href="https://zrtechsolutions.com/demo/html/kasalon/testimonials.html">Testimonials</a></li> -->
        <li class="dropdown"><a routerLink="blog">Blogs</a>
        </li>
        <li><a routerLink="contact">Contacts</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->


