<!-- Services -->
<section id="services">
  <div class="top-icon-box position-relative">
    <div class="container position-relative">
      <div class="section-header">
        <div>
          <p>Nos Prestations</p>
          <h2>Services</h2>
          <span><i class="fa fa-scissors" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Soins Capillaires</h4>
            <p>Coiffure, Coloration, Coupes, Soins.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Coloration</h4>
            <p>Transformez votre look avec une couleur éclatante.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Soins des Cheveux</h4>
            <p>Revitalisez vos cheveux avec nos soins experts.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Épilation à la Cire</h4>
            <p>Découvrez les bienfaits de l'épilation à la cire.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Épilation au Fil</h4>
            <p>Épilation de précision : l'art du fil.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Ongles</h4>
            <p>Art, tendances et soins des ongles : sublimez votre style.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Extensions de Cils</h4>
            <p>Sublimez votre regard avec les extensions de cils.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Massage</h4>
            <p>Les massages relaxants revitalisent le corps et l’esprit.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Massage Corporel</h4>
            <p>Les massages relaxants revitalisent le corps et l’esprit.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Maquillage</h4>
            <p>Sublimez votre beauté : explorez l’univers du maquillage.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Soins de la Peau</h4>
            <p>Les soins essentiels pour un teint éclatant.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6 aos-init" data-aos="fade-up">
          <div class="icon-box">
            <h4 class="title">Maquillage Permanent</h4>
            <p>Rehaussez votre beauté avec le maquillage permanent.</p>
          </div>
        </div>
        <!--End Icon Box -->

      </div>
    </div>
  </div>
</section>
<!-- Services -->
